.footer-bg{
    background-color: #000000;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px;
}
.redes{
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
}
@media( max-width: 600px){
    .footer {
        flex-direction: column;
        align-content: center;
    }
    .redes{
        margin-top: 40px;
    }
}