.main-bg{
    background-color: #000000;
    background-image: url("/img/bg-introdução.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 200px;
}
.descricao{
    color: #C2D9CE;
    font-size: 2.25rem;
    margin: 40px 0px;
}
.main h1{
    color: #ffffff;
    font-size: 6rem;
    margin-bottom: 8px;
    width: max-content;
}
.bold{
    color: #ffffff;
}
.main-btn{
    padding: 16px 32px;
    border-radius: 10px;
    background-color: #00F485;
    border:0px;
    font-size: 2rem;
    color:#00160C;
    cursor: pointer;
}
.main-btn:hover{
    background-color: #39FFA5;
}
@media( max-width: 1600px){
    .main{
        padding-top: 0px;
        padding-bottom: 100px;
    } 
}
@media( max-width: 1400px){
    .main{
        padding-bottom: 50px;
    }
    .main h1{
        font-size: 5rem;
    }   
    .main p{
        font-size: 1.75rem;
    }
    .main-btn{
        font-size: 1.5rem;
        padding: 12px 24px;
    }
    .main img{
    width: 350px;
}
}
@media( max-width: 1300px){
    .main{
        padding-bottom: 50px;
    }
    .main h1{
        font-size: 4rem;
    }   
    .main p{
        font-size: 1.5rem;
    }
    .main-btn{
        font-size: 1.25rem;
        padding: 8px 16px;
    }
    .main img{
    width: 300px;   
}
}
@media( max-width: 1100px){
    .main h1{
        font-size: 3.5rem;
    } 
    .main p{
        font-size: 1.25rem;
        margin: 30px 0;
    }
    .main-btn{
        font-size: 1.25rem;
    }
    .main img{
    width: 250px;
}
}
@media( max-width: 1000px){
    .main-bg{
        background-position: center;
    }
    .main h1{
        font-size: 3.5rem;
    }  
    .main p{
        font-size: 1.25rem;
        margin: 20px 0;
    }
    .main-btn{
        font-size: 1.25rem;
    }

    .main img{
    width: 250px;
}
}
@media( max-width: 800px){
    .main h1{
        font-size: 2rem;
    }  
    .main p{
        font-size: 0.9rem;
    }
    .main-btn{
        font-size: 0.9rem;
    }
    .main img{
    width: 150px;
}
}

